body{
    background-color: bisque;
}
h1{
color: black;
text-align-last: left;
font-size: 40%;
}
p{
color: black;
text-align-last: left;
font-size: 40%;
}
.itens{
    font-style: italic;
    text-align-last: left;
}
.beneficios{
    background-color: antiquewhite;
}
ul{
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    list-style: circle;
    }
    #imagem2{
        width: 50%;
        }
        

